<!DOCTYPE html>
<html>
  <head>
    <title>Samuel Perez</title>
    <link rel='stylesheet' href='/stylesheets/stylecv.css' />
    <style>

    </style>
    <meta property="og:title" content="Mi Curriculum">
    <meta property="og:description" content="Este es mi curriculum vitae">
    <meta property="og:image" content="https://mi-imagen.com/imagen.jpg">
    <meta property="og:url" content="https://mi-sitio.com/mi-curriculum">
  </head>
  </head>
  <body>
    <div>
      <h1>Samuel Jose Perez Belisario</h1>
    <p>Calle Principal de la Morera, Los Aguacates, casa 97-A, San Juan de los Morros, Estado guarico </p>
    <p>Telefono: (0412) 113-4738</p>
    <fieldset>
      <legend>Datos Generales</legend>
      <ul>
        <li><span>Fecha de nacimiento:</span> 23/08/2004</li>
        <li><span>Cedula de identidad:</span> V-30.459.887</li>
        <li><span>Email:</span> samueljpb@gmail.com</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Formacion academica</legend>
      <ul>
        <li><span>Educacion basica:</span> U. E. Colegio "Gabriela mistral"</li>
        <li><span>Bachillerato:</span> U. E. Colegio "Dr. Jose Maria Vargas"</li>
        <li><span>Ingenieria en informatica:</span> Universidad Experimental de los Llanos Centrales "Romulo Gallegos" (UNERG)</li>
        <li><span>Ingles Avanzado:</span> Houston Language College</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Experiencia laboral</legend>
      <ul>
        <li><span>Carnicero:</span>  Carniceria los Cheveres, Carniceria Zulefervi</li>
        <li><span>Gerente:</span>  Comercial los cheveres</li>
        <li><span>Asistente virtual:</span>  Call Orange</li>
        <li><span>Profesor:</span>  Houston Languaje College</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Habilidades y destrezas</legend>
      <ul>
        <li>Proactivo y creativo</li>
        <li>Trabajo en equipo</li>
        <li>Acondicionamiento fisico</li>
        <li>Trabajo bajo presion</li>
      </ul>
    </fieldset>
    <h2>Redes sociales</h2>
     <p><span>Facebook:</span> SamuelJP</p>
     <p><span>Instagram</span> SamuelBeliz</p>
    </div>
  </body>
</html>