<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <title>Verificacion</title>
</head>
<body>
  <form class="form" action="/login" method="post">
    <h2 class="form_title">Verificacion</h2>
    <div class="form_container">
      <div class="form_group">
        <input type="text" name="user" id="Username" class="form_input" placeholder=" ">
        <label for="Username" class="form_label">Usuario</label>
        <span class="form_line"></span>
      </div>
      <div class="form_group">
        <input type="password" name="pass" id="Password" class="form_input" placeholder=" ">
        <label for="Password" class="form_label">Contraseña</label>
        <span class="form_line"></span>
      </div>
      <p><a href="#" class="form_link">¿Olvidaste tu contraseña?</a></p>
      <button type="submit" class="form_submit" > Ingresar </button>
      <script src="https://accounts.google.com/gsi/client" async defer></script>
      <div id="g_id_onload"
         data-client_id="539389989943-fq5vil61goend1u2k1hg7o1700o8nfmu.apps.googleusercontent.com"
         data-login_uri="http://localhost:3000/auth/google"
         data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
      </div>
    </div>
</body>
</html>