*{
	font-family: 'Alkatra', cursive;
}
h1{
	text-align: center;
	color: rgb(0, 0, 0);
}
div p{
	font-size: 17px;
}
fieldset{
  margin-bottom: 12px;
}
legend{
  background-color: gold;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
}
body{
	background-color: rgb(59, 140, 233);
}
div{
	background-color: #FFF;
  border: 1px solid #000;
  padding: 12px ;
	width: 60%;
	margin: 0 auto;
}
span{
  font-weight: bold;
}



